* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/coffee-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: brown;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
/* dropdown menu */
.dropdown {
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: white;
  left: 0px;
  top: 100%;
  opacity: 0;
  font-size: 12px;
  visibility: hidden;
  transition: 0.5s;
}

.dropdown li {
  padding: 12px;
}

.nav-links ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  left: 0px;
  cursor: pointer;
}
/* text box */
.text-box {
  width: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* title */
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}
.hero-btn:hover {
  border: 1px solid brown;
  background: brown;
  transition: 1s;
}

nav .fa {
  display: none;
}


/* product */
.product {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  font-size-adjust: 0.58;
}

.row {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  padding: 10px;
  justify-content: space-between;
  gap: 50px 50px;
}
.product-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.product-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
/* Mobile version */
@media (max-width: 400px) {
  .product {
    flex-direction: column;
  }
}

/*------- facilities -------*/
.Product {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.Product-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.Product-col img {
  width: 100%;
  height: 50%;
  border: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.Product-col p {
  padding: 0;
}
.Product-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
.Product-col img:hover {
  opacity: 0.7;
}

/*------- testimonials ------*/
.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.testnimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testnimonials-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testnimonials-col p {
  padding: 0;
}
.testnimonials-col h3 {
  margin-top: 15px;
  text-align: left;
}
.testnimonials-col .fa {
  color: #f44336;
}
/* Mobile version */
@media (max-width: 400px) {
  .testnimonials-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*-------- call of action ------*/
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/pic2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
/* Mobile version */
@media (max-width: 400px) {
  .cta h1 {
    font-size: 24px;
  }
}

/*-------- footer ------*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa fa-heart-o {
  color: #f44336;
}

/*-------- about us page ------*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/coffee-bean-bag-cinnamon-zpmsuggh1hmainlv.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.containers {
  text-align: center;
  background: #f5f5f5;
}

.headers {
  padding-top: 30px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.sub-containers {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  background: #ddd;
  border-radius: 12px;
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  /* text-transform: uppercase; */
}

.desig {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.social-links {
  margin: 14px;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: 0.4s;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links a i {
  color: #444;
}

@media screen and (max-width: 400px) {
  .teams {
    max-width: 100%;
  }
}

/*-------- Service Content ------*/
.wrapper {
  font-family: "raleway";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fafafa;
}

.wrapper h1 {
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
  font-weight: 600;
  color: rgb(255, 0, 82);
}
.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}
.card {
  cursor: pointer;
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card i {
  margin: 20px;
  color: #ff5724;
}
.card h2 {
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
}
.card p {
  color: #6c757d;
  text-align: center;
  margin: auto;
}

.card:hover i,
.card:hover p {
  color: #fff;
}
.card:hover h2 {
  font-weight: 500;
  color: #f2f2f2;
}
.card:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.7) 0%,
      rgba(255, 28, 8, 0.7) 100%
    ),
    url();
}
.card:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.7) 0%,
      rgba(255, 28, 8, 0.7) 100%
    ),
    url();
}
.card:nth-child(3):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.7) 0%,
      rgba(255, 28, 8, 0.7) 100%
    ),
    url();
}

/* Mobile version */
@media (max-width: 400px) {
  .wrapper {
    padding: 25px;
  }
  .wrapper h1 {
    font-size: 2.5em;
    font-weight: 600;
  }
  .content-box {
    flex-direction: column;
    width: 250%;
  }
  .card {
    min-width: 300px;
    margin: 10px auto;
  }
}

/*-------- Product items ------*/
.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
  justify-content: space-between;
  gap: 50px 50px;
}
.items {
  padding: 10px;
  margin: 5px;
  float: left;
  width: 390px;
}
.items img {
  width: 95%;
  height: 300px;
  border: 10px;
  border-radius: 8px;
}
.desc {
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.name-product {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
/* cart items */

.cart-page {
  margin: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: brown;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: brown;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid brown;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

.add-cart {
  text-align: right;
}

/*-------- Contact Us ------*/

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: black;
}
.contact .content p {
  font-weight: 300;
  color: black;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: brown;
}
.contactForm {
  width: 40%;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

#submit:hover {
  background-color: brown;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e92e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media (max-width: 400px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
}

/* Mobile version */
@media (max-width: 400px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: brown;
    height: 100vh;
    width: 200px;
    top: -0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.75s;
}
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
