* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/coffee-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  display: flex;
}

.logo:hover{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}
/* Navbar */
nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: brown;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

/* navbar sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba (0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

#menu-button {
  display: none;
}

@media (max-width: 800px) {
  #hideOnMobile {
    display: none;
  }
  #menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* dropdown menu */
.dropdown {
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: white;
  left: 0px;
  top: 100%;
  opacity: 0;
  font-size: 12px;
  visibility: hidden;
  transition: 0.5s;
}

.dropdown li {
  padding: 12px;
}

.nav-links ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  left: 0px;
  cursor: pointer;
}
/* text box */
.text-box {
  width: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* title */
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}
.hero-btn:hover {
  border: 1px solid brown;
  background: brown;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 800px) {
  .text-box p{
    max-width: 100%;
    font-size: 12px;
  }
  .text-box h1{
    max-width: 100%;
    font-size: 24px;
  }
}

/* product */
.product {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  font-size-adjust: 0.58;
}

.row {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  padding: 10px;
  justify-content: space-between;
  gap: 50px 50px;
}
.product-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.product-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.Product {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.Product-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.Product-col img {
  width: 100%;
  height: 65%;
  border: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
  align-items: center;
  transition: 0.3s;
}
.Product-col p {
  padding: 0;
}
.Product-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
.Product-col img:hover {
  opacity: 0.7;
}

/* Mobile version */
@media (max-width: 800px) {
  .product {
    width: 100%;
    flex-direction: column;
  }
}

/*------- testimonials ------*/
.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.testnimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testnimonials-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testnimonials-col p {
  padding: 0;
}
.testnimonials-col h3 {
  margin-top: 15px;
  text-align: left;
}
.testnimonials-col .fa {
  color: #f44336;
}
/*---- Mobile version ----*/
@media (max-width: 800px) {
  .testnimonials-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*-------- footer ------*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

/*-------- about us page ------*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/coffee-bean-bag-cinnamon-zpmsuggh1hmainlv.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.containers {
  text-align: center;
  background: #f5f5f5;
}

.headers {
  padding-top: 30px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.sub-containers {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  background: #ddd;
  border-radius: 12px;
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  /* text-transform: uppercase; */
}

.desig {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.social-links {
  margin: 14px;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: 0.4s;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links a i {
  color: #444;
}

@media screen and (max-width: 800px) {
  .teams {
    max-width: 100%;
  }
}

/*-------- Product items ------*/
.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
  justify-content: space-between;
  gap: 50px 50px;
}
.items {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  /* cursor: pointer; */
  transition: 0.4s;
  box-sizing: border-box;
}

.items:hover {
  background: #ddd;
  border-radius: 12px;
}

.items img {
  width: 300px;
  height: 300px;
  border: 10px;
  border-radius: 8px;
}

.item h1 {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
}

.desc {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}
.name-product {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .container {
    max-width: 100%;
    flex-direction: column;
  }
}
/* cart items */

.cart-page {
  margin: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: brown;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: black;
  font-size: 12px;
}

td a:hover {
  color: brown;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid brown;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

.add-cart {
  text-align: right;
}

/*-------- Contact Us ------*/

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: black;
}
.contact .content p {
  font-weight: 300;
  color: black;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  border-radius: 20px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: brown;
}
.contactForm {
  width: 40%;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

#submit:hover {
  background-color: brown;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: brown;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
  border-radius: 5px;
}
/* Contact form Mobile version  */
@media (max-width: 800px) {
  .contact {
    display: inline;
    padding: 50px;
    margin: auto;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .contactForm{
    margin: 10px;
    width: 50vh;
    padding: 10px;
  }
}